<div class="row">
  <div class="col-auto">
    <h2>Edit your post, {{user.username}}.
      <span id="post-id-hidden">{{id}}</span>
      {{#if comments}}
      {{#each comments}}
      <span id="comment-id-hidden">{{comment_id_test}}</span>
      {{/each}}
      {{/if}}
    </h2>
  </div>
</div>

<div class="row" id="sortable">
  <div class="edit-post-row" id="sortable">
    <div id="card-title">
      <div class="card-sub">
        <img class="card-img-top img-fluid d-flex justify-content-between user-prof-pic" src="./images/Josh Lutz_DC.jpg" alt="Profile Image">
        <div class="edit-buttons">
          <a href="/profile" class="btn btn-light d-flex justify-content-between" id="update-post-btn">Update</a>
          <a class="btn btn-danger d-flex justify-content-danger" id="delete-post-btn">Delete</a>
        </div>
      </div>
      <div class="card-block">
        <div class="card-header">
          <h4 class="employee-name">
            <div class="edit-title-container">
              <span>Edit Title:<input class="textarea post-title-input" name="post-title" type="text" id="edit-post-title" value="&nbsp;{{title}}" /></span>
            </div>
          </h4>
          <div class="employee-details">
            <textarea class="form-control post-content-textarea" id="post-content-edit" rows="1">{{post_content}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
