<divq class="container my-5">
{{#each post as |post|}}
<div class="card my-3">
      <div class="card-header">
        <h4>
          <a class="text-decoration-none" href="/comments/{{post.id}}">{{post.title}}</a>
        </h4>
        <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
      </div>
      <div class="card-body">
        <p>{{post.post_content}}</p>
      </div>
    </div>
  {{/each}}
</div>
